<footer class="footer-dev main">

  <div class="container">

    <div class="row white-text">

      <div class="col-sm-10 panel-panel">

                        <div class="panel-pane pane-fieldable-panels-pane pane-uuid-350c3ee4-b66e-41ba-b82a-c5f4b0ad6794 pane-bundle-content">
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-headline field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"></div></div></div><div class="field field-name-field-body field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even">© DocuSign Inc., 2003 - 2016</div></div></div></div>
  </div>

  
  </div>
                    
                        <div class="panel-pane pane-block pane-menu-menu-footer-legal-menu">
  
      
  
  <div class="pane-content">
    <ul class="menu"><li class="first leaf"><a href="https://www.docusign.com/company/terms-of-use">Terms of Use</a></li>
<li class="leaf"><a href="https://www.docusign.com/company/privacy-policy">Privacy Policy</a></li>
<li class="last leaf"><a href="https://www.docusign.com/IP">Intellectual Property</a></li>
</ul>  </div>

  
  </div>
          
      </div>

      <div class="website col-sm-2 panel-panel">

                        <div class="panel-pane pane-fieldable-panels-pane pane-uuid-31d1b932-aa31-4f86-af53-8eeec807a4f5 pane-bundle-content">
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-headline field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"></div></div></div><div class="field field-name-field-body field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><a href="/" class="white-text">www.DocuSign.com</a></div></div></div></div>
  </div>

  
  </div>
          
      </div>

    </div>

  </div>

</footer>