body.recipes {
  padding-top: 50px;
}
.intro {
  padding: 40px 15px;
  text-align: center;
}
.margintop {margin-top: 1.7em;}

.newdata {font-style: italic;} /* value of the data has changed! */
#status_left {background-color: #B9CEF3;}	
#working {margin-top: 20px;}
.workinghide {color: #B9CEF3;}
.workingshow {color: black;}
.toc_item {
	border-bottom-color: white;
	border-bottom-width: .2em;
	border-bottom-style: solid;
	margin-bottom: .4em;
	padding-left: 1em;
	padding-bottom: .4em;
	padding-top: .4em;
}

.toc_item:hover {background-color: #85A8EA; cursor: pointer;}
.toc-instructions {
    margin-top: 2em; color: blueviolet; font-style: italic;} /* Instructions for user */


#editor {height: 300px;}

@media (max-width: 991px) { /* add some vertical padding for smaller screens */
  [class*="col-"]{
      margin-bottom: 15px;
  }
}


