<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-193556 node-type-html-page i18n-en" >
  <!--% include ../partials/nav.ejs %-->

  <div class="dev-blue-header no-min-height">
    <div class="container">
      <h1 class="white-text">DocuSign API Certification</h1>
      <p class="white-text">Please enter your name and email to begin the signing process.</p>
    </div>
  </div>
  <p>
    <div class="container">
      <form id="myform" action="/kazmon" method="post" enctype="application/x-www-form-urlencoded">
        <label class="radio-inline">
          <input class="webkit-radio" type="radio" name="userType" id="optionsRadios1" ng-model="content" value="customer" checked>
          Customer
        </label>
        <label class="radio-inline">
          <input class="webkit-radio" type="radio" name="userType" id="optionsRadios2" ng-model="content" value="partner">
          Partner
        </label>
        <br/>
        <fieldset class="form-group">
          <label for="InputName1">Full name</label>
          <input required class="form-control" name ="name" id="InputName1" placeholder="Enter name">
        </fieldset>
        <fieldset class="form-group">
          <label for="InputEmail1">Email address</label>
          <input required type="email" class="form-control" name="docuSignUserName" id="InputEmail1" placeholder="Enter email">
          <small class="text-muted">We'll never share your email with anyone else.</small>
        </fieldset>
        <fieldset class="form-group">
          <label for="InputCompany1">Company name</label>
          <input required class="form-control" name="companyName" id="InputCompany1" placeholder="Enter company name">
        </fieldset>
        <fieldset class="form-group">
          <label for="InputIK1">Integrator key</label>
          <input required class="form-control" name="docuSignIntegratorKey" id="InputIK1" placeholder="Enter integrator key">
        </fieldset>
        <fieldset class="form-group">
          <label for="InputProdAccountID1">Production account ID</label>
          <input required class="form-control" name="prodAccountID"id="InputProdAccountID1" placeholder="Enter production account ID">
        </fieldset>
        <fieldset class="form-group">
          <label for="InputDemoAccountID1">Demo account ID</label>
          <input required class="form-control" name="demoAccountID" id="InputDemoAccountID1" placeholder="Enter demo account ID">
        </fieldset>
        <div class="form-group">
          <label for="datetimepicker1">Start date (Local time)</label>
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' name="startDate" data-format="yyyy/MM/dd hh:mm" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="datetimepicker2">End date (Local time)</label>
          <div class='input-group date' id='datetimepicker2'>
            <input type='text' name="endDate" data-format="yyyy/MM/dd hh:mm" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div id="partnerInfos1" hidden="true">
          <label>
            <input type="checkbox" name="partnerShowCase" checked> I am interested in partner solutions showcase!
          </label>
          <br/>
          <fieldset class="form-group">
            <label for="LabelShowCase1" id="LabelshowCase1">Please describe the integration</label>
            <textarea class="form-control" name="showCaseDescription" id="InputShowCase1" rows="3" placeholder="200 words description"></textarea>
          </fieldset>
        </div>
        <button type="submit" class="btn btn-primary" onclick = "setTimeout(function(){$('#Searching_Modal').show()}, 1000)">Submit</button>
        <div id="Searching_Modal" class="modal center-modal" tabindex="-1" role="dialog" data-keyboard="false"
        data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <!--a onclick="$('#Searching_Modal').hide()" title="Close" class="close">X</a-->
           <div class="modal-header" style="text-align: center">
            <h3>This operation will take few minutes. Please wait...</h3>
          </div>
          <div class="modal-body" >
            <div class="progress progress-striped active">
              <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center"></div>  
    </form>
  </div>
</p>
<% include ../partials/footer.ejs %>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
  var socket = io();
  socket.on('message', function(message) {
    document.write('<h1>Report</h1><br/><br/>' + message);
  })
</script>

</body>
</html>